<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GetCourse</servlet-name>
  	<servlet-class>main.resources.Main</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Main</servlet-name>
  	<display-name>Main</display-name>
  	<description></description>
  	<servlet-class>backend.servlet.Main</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Setup</servlet-name>
  	<display-name>Setup</display-name>
  	<description></description>
  	<servlet-class>backend.servlet.Setup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResultAnalysis</servlet-name>
  	<display-name>ResultAnalysis</display-name>
  	<description></description>
  	<servlet-class>backend.servlet.ResultAnalysis</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Semsubview</servlet-name>
  	<display-name>Semsubview</display-name>
  	<description></description>
  	<servlet-class>backend.servlet.Semsubview</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>subsemview</servlet-name>
  	<display-name>subsemview</display-name>
  	<description></description>
  	<servlet-class>backend.servlet.subsemview</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>semsubview</servlet-name>
  	<display-name>semsubview</display-name>
  	<description></description>
  	<servlet-class>backend.servlet.semsubview</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pullUSNResult</servlet-name>
  	<display-name>pullUSNResult</display-name>
  	<description></description>
  	<servlet-class>backend.servlet.pullUSNResult</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pullUSNResult_1</servlet-name>
  	<display-name>pullUSNResult_1</display-name>
  	<description></description>
  	<servlet-class>backend.servlet.pullUSNResult_1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DataUpload</servlet-name>
  	<display-name>DataUpload</display-name>
  	<description></description>
  	<servlet-class>backend.servlet.DataUpload</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Main</servlet-name>
  	<url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Setup</servlet-name>
  	<url-pattern>/Setup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResultAnalysis</servlet-name>
  	<url-pattern>/ResultAnalysis</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Semsubview</servlet-name>
  	<url-pattern>/Semsubview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>subsemview</servlet-name>
  	<url-pattern>/subsemview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>semsubview</servlet-name>
  	<url-pattern>/semsubview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pullUSNResult</servlet-name>
  	<url-pattern>/pullUSNResult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pullUSNResult_1</servlet-name>
  	<url-pattern>/pullUSNResult_1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DataUpload</servlet-name>
  	<url-pattern>/DataUpload</url-pattern>
  </servlet-mapping>
</web-app>
