<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GetCourse</servlet-name>
  	<servlet-class>main.resources.Main</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Main</servlet-name>
  	<display-name>Main</display-name>
  	<description></description>
  	<servlet-class>backend.servlet.Main</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Setup</servlet-name>
  	<display-name>Setup</display-name>
  	<description></description>
  	<servlet-class>backend.servlet.Setup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResultAnalysis</servlet-name>
  	<display-name>ResultAnalysis</display-name>
  	<description></description>
  	<servlet-class>backend.servlet.ResultAnalysis</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Main</servlet-name>
  	<url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Setup</servlet-name>
  	<url-pattern>/Setup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResultAnalysis</servlet-name>
  	<url-pattern>/ResultAnalysis</url-pattern>
  </servlet-mapping>
</web-app>
